
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
              <a class="navbar-brand" href="#">
               <!-- <img src="https://icon2.cleanpng.com/20180518/bvs/kisspng-catering-made-simple-logo-organization-clip-art-5aff74f4411ad3.3675250715266910602667.jpg">   -->
                AYUR JEEVA
              </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul  class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height:var(--bs-scroll-height)" >
     
          <a class="nav-link" routerLink="home">Home</a>
          <a class="nav-link" routerLink="about">About</a>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerlink="PRODUCTS" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PRODUCTS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="skin">Skin care</a></li>
              <li><a class="dropdown-item" routerLink="hair">Hair care</a></li>
              <li><a class="dropdown-item" routerLink="body">Body care</a></li>
            </ul>
          </li>

          <a class="nav-link" routerLink="contact">Contact us</a>
         
          <a class="nav-link" routerLink="login">Login</a> 
        </ul>

      </div>
    </div>
  </nav>


  
